@import url(https://fonts.googleapis.com/css?family=Lato:400,900,700);
/**
 * Import your Admin SCSS files. These are styles for the dashboard/admin section of wordpress.
 * ============================================================================================
 */
.placeholder {
  content: 'Placehodler for Grunt to compile';
}

html {
  font-size: 16px;
}
@media (min-width: 768px) and (max-width: 991px) {
  html {
    font-size: 16px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  html {
    font-size: 18px;
  }
}
@media (min-width: 1200px) {
  html {
    font-size: 20px;
  }
}

body {
  transition: all .33s ease-in-out;
}

p {
  font-family: "Lato", sans-serif;
  font-size: .8em;
}
@media (min-width: 768px) {
  p {
    font-size: 1em;
  }
}

h1 {
  font-family: "Lato", sans-serif;
  font-size: 2em;
  font-weight: bold;
  margin: 0 auto;
  margin-top: 15px;
  width: 80%;
}
@media (min-width: 768px) and (max-width: 991px) {
  h1 {
    font-size: 3.25em;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  h1 {
    font-size: 3.50em;
  }
}
@media (min-width: 1200px) {
  h1 {
    font-size: 3.75em;
  }
}

h2 {
  font-family: "Lato", sans-serif;
  font-size: 1.5em;
}
@media (min-width: 768px) and (max-width: 991px) {
  h2 {
    font-size: 2.50em;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  h2 {
    font-size: 2.75em;
  }
}
@media (min-width: 1200px) {
  h2 {
    font-size: 2.80em;
  }
}

h3 {
  font-family: "Lato", sans-serif;
  font-size: 1.40em;
}
@media (min-width: 768px) {
  h3 {
    font-size: 2em;
  }
}

h4 {
  font-family: "Lato", sans-serif;
  font-size: 1.75em;
}

h5 {
  font-family: "Lato", sans-serif;
  font-size: 1.50em;
  margin: 30px auto;
  text-transform: uppercase;
}

h6 {
  font-family: "Lato", sans-serif;
  font-size: 1.25em;
}

a:hover {
  color: #FFFFFF;
  cursor: pointer;
}

html {
  height: 100%;
  width: 100%;
}

body {
  background: white;
  height: 100%;
  overflow-x: hidden;
  padding-top: 100px;
  position: relative;
  width: 100%;
}

.content-block {
  padding: 20px 0;
}

.button {
  background: #FFC010 !important;
  border: 1px solid #222222;
  color: #222222 !important;
  display: inline-block;
  font-family: "Lato";
  font-size: 1em;
  font-weight: bold;
  padding: 8px 12px;
  text-align: center;
}
.button:hover {
  background: #222222 !important;
  color: #FFC010 !important;
  text-decoration: none;
}

hr {
  background: #222222;
  height: 2px;
}

textarea {
  resize: none;
}

.title_image {
  max-height: 200px;
  padding-bottom: 30px;
}
.title_image img {
  left: 50%;
  position: relative;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

header .top-bar {
  background: url("../img/zigzag.png");
  height: 40px;
}
header .top-bar .container {
  height: 40px;
}
header .top-bar .container .phone-number {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  color: white;
  display: block;
  font-weight: bold;
}
@media (max-width: 992px) {
  header .top-bar .container .phone-number {
    display: none;
  }
}
@media (min-width: 768px) {
  header .top-bar {
    height: 55px;
  }
  header .top-bar .container {
    height: 55px;
  }
}
header .navbar {
  background: white;
  border-bottom: 1px solid #eee;
  height: 55px;
  margin-top: 40px;
}
header .navbar .container {
  height: 55px;
}
header .navbar .nav-logo {
  height: 100%;
  position: relative;
}
header .navbar .nav-logo a {
  height: 100%;
}
header .navbar .nav-logo a img {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 160px;
}
@media (max-width: 992px) {
  header .navbar .nav-logo a img {
    height: 140px;
  }
}
header .navbar .nav-menu {
  height: 100%;
}
header .navbar .nav-menu .navbar-nav {
  height: 100%;
  margin-left: -50px;
}
@media (min-width: 768px) and (max-width: 992px) {
  header .navbar .nav-menu .navbar-nav {
    margin-top: -50px;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  header .navbar .nav-menu .navbar-nav {
    margin-top: -106px;
  }
}
@media (min-width: 1200px) {
  header .navbar .nav-menu .navbar-nav {
    margin-top: -50px;
    margin-left: 50px;
    font-size: 1em;
  }
}
header .navbar .nav-menu .navbar-nav :hover {
  background-color: #FFFFFF;
  border-bottom: 3px solid #ED1B24;
  display: table;
}
header .navbar .nav-menu .navbar-nav ul {
  height: 100%;
}
header .navbar .nav-menu .navbar-nav a {
  font-size: .9em;
  color: #ED1B24;
  font-weight: 900;
  height: 100%;
  text-transform: uppercase;
}
header .navbar .navbar-form {
  margin-left: 5px;
  padding-right: 0;
}
header .navbar .navbar-form .screen-reader-text {
  display: none;
}
header .navbar .yith-ajaxsearchform-container {
  position: relative;
}
header .navbar .autocomplete-suggestions {
  right: 78px;
  top: 44px;
}
header .navbar .nav-toggle-container {
  height: 50px;
}
@media (min-width: 768px) {
  header .navbar .nav-toggle-container {
    height: 80px;
  }
}
header .navbar .nav-toggle-container .nav-toggle {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 10000;
}
@media (min-width: 768px) {
  header .navbar .nav-toggle-container .nav-toggle {
    display: none;
  }
}
@media (min-width: 768px) {
  header .navbar {
    margin-top: 55px;
  }
}

.mobile-menu {
  background: white;
  display: none;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999999;
}
.mobile-menu hr {
  width: 100%;
}
.mobile-menu .nav-logo img {
  margin-left: 15px;
  margin-top: 25px;
  max-height: 90px;
}
@media (min-width: 992px) {
  .mobile-menu .nav-logo img {
    max-height: 140px;
  }
}
.mobile-menu .close-button {
  cursor: pointer;
  font-size: 3em;
  margin-right: 8px;
  margin-top: 40px;
}
.mobile-menu .navbar-nav {
  display: table;
}
.mobile-menu .navbar-nav :hover {
  background-color: #FFFFFF;
  border-bottom: 3px solid #FFC010;
}
.mobile-menu .navbar-nav ul {
  list-style-type: none;
}
.mobile-menu .navbar-nav a {
  color: black;
  font-weight: bold;
}
@media (min-width: 992px) {
  .mobile-menu {
    display: none !important;
  }
}
.mobile-menu span {
  font-weight: 900;
}
.mobile-menu .screen-reader-text {
  display: none;
}
@media (max-width: 767px) {
  .mobile-menu input[type="search"] {
    height: 50px;
    margin-bottom: 10px;
  }
}

.footer {
  bottom: 0;
  clear: both !important;
  width: 100%;
}
.footer .site-map {
  height: auto;
}
.footer .site-map h4 {
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: center;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 1em;
  font-family: "Lato", sans-serif;
  line-height: 35px;
  background-color: #ED1B24;
  height: 40px;
  width: 250px;
}
@media (max-width: 992px) {
  .footer .site-map h4 {
    width: 100%;
  }
}
.footer .bottom {
  height: auto;
  background-color: #222222;
  padding-bottom: 50px;
}
.footer .bottom .help {
  margin-top: 80px;
  text-align: center;
  color: #FFFFFF;
  font-size: 1em;
  font-weight: 700;
}
.footer .bottom .info {
  margin-top: 100px;
  text-align: center;
  color: #FFFFFF;
  font-size: .9em;
  font-weight: 400;
}
.footer .bottom .info ul {
  padding-left: 0;
}
.footer .bottom .info li {
  list-style: none;
}
.footer .bottom .menu {
  margin-top: 60px;
  margin-left: 200px;
}
.footer .bottom .menu a {
  text-decoration: none !important;
}
@media (max-width: 1199px) {
  .footer .bottom .menu {
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
    width: 150px;
  }
}
.footer .bottom .menu li {
  width: 150px;
  text-align: center;
  padding-top: 8px;
  list-style: none;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 1em;
  letter-spacing: .75px;
}
.footer .bottom .menu :hover {
  border-bottom: 3px solid #FFC010;
}
.footer .bottom .copyright {
  margin-top: 60px;
  text-align: center;
  color: #FFFFFF;
  font-size: .75em;
}

.home {
  margin-top: 10px;
}
.home .product-categories h3 {
  font-size: 1.2em;
  height: 50px;
  overflow: hidden;
  margin-bottom: 5px;
}
.home .product-categories p {
  font-size: .75em;
  height: 70px;
  overflow: hidden;
}
@media (max-width: 991px) {
  .home .product-categories .product-categories-card {
    padding-bottom: 50px;
    text-align: center;
  }
}
.home .product-categories .product-categories-card .product-categories-button {
  background-color: red !important;
  padding: 10px 50px;
  border: none;
  color: white !important;
  margin-top: 30px;
}
.home .product-categories .product-categories-card .product-categories-button:hover {
  text-decoration: underline;
}
@media (min-width: 992px) {
  .home .product-categories .product-categories-card .product-categories-button {
    left: 50%;
    position: relative;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
  }
}
.home .category-carousel a {
  color: #222222;
  text-align: center;
}
.home .category-carousel a h3 {
  font-weight: bold;
}
.home .category-carousel .category-link {
  left: 50%;
  position: relative;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 80%;
}
@media (max-width: 767px) {
  .home .category-carousel .category-link {
    width: 100%;
  }
}
.home .category-carousel .bx-controls-direction {
  font-size: 4em;
  font-weight: bold;
  position: relative;
  top: -300px;
}
@media (max-width: 767px) {
  .home .category-carousel .bx-controls-direction {
    display: none;
  }
}
.home .category-carousel .bx-prev {
  left: -40px;
  position: absolute;
}
.home .category-carousel .bx-next {
  right: -40px;
  position: absolute;
}
.home .other-links {
  background: #FFC010;
  padding-bottom: 20px;
  padding-top: 30px;
  text-align: center;
}
.home .other-links .container div:nth-child(2) {
  border-left: 1px solid #999;
  border-right: 1px solid #999;
}
.home .other-links .copy-container {
  overflow: hidden;
  padding-bottom: 20px;
}
@media (max-width: 767px) {
  .home .other-links .copy-container {
    height: 175px;
  }
}
.home .other-links h2 {
  color: #222222;
  font-weight: 900;
  margin-bottom: 30px;
  text-transform: uppercase;
}
.home .other-links p {
  color: #666;
  line-height: 25px;
  margin: 0 auto;
  margin-bottom: 20px;
  width: 80%;
}
.home .other-links .button {
  background: #FFFFFF !important;
  border: 1px solid #222222;
  color: #222222;
  margin-bottom: 20px;
}
.home .other-links .button:hover {
  background: #222222 !important;
  color: #FFFFFF !important;
}

.shop h1 {
  font-size: 2em;
  padding-top: 30px;
  margin-left: 30px;
}
.shop .page-title {
  padding-top: 25px;
  padding-bottom: 15px;
  margin: 0;
}
.shop .container-shop-products {
  padding-top: 70px;
}
.shop .container-shop-products li {
  border: 1px solid #222222;
  text-transform: uppercase;
}
.shop .container-shop-products li :hover {
  text-decoration: underline;
}
.shop .container-shop-products li h3 {
  color: #222222;
  height: 50px;
  overflow: hidden;
  text-align: center;
  font-family: "Lato", sans-serif;
  font-size: 1.2em;
  font-weight: 700;
}
.shop .button.product_type_simple {
  left: 50%;
  position: relative;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  margin-bottom: 30px;
}
.shop .woocommerce-pagination {
  clear: both;
}
.shop .woocommerce-pagination .page-numbers {
  color: #222222 !important;
}

.single {
  padding: 0;
}
.single div.ppt {
  display: none !important;
}
.single .description {
  width: 400px;
}
.single .description a {
  color: blue !important;
}
.single #content {
  height: 120px;
  background: url("../img/zigzag.png");
}
.single .entry-summary {
  padding-top: 50px;
}
.single .entry-summary a {
  color: blue !important;
}
@media (max-width: 768px) {
  .single .entry-summary {
    margin-left: 30px;
  }
}
.single .entry-summary h1 {
  text-align: left !important;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 2em;
  margin: 0;
}
.single .product_meta {
  text-align: left;
  width: 400px;
}
.single .product_meta span {
  font-weight: 700;
}
.single .product_meta ul {
  list-style: none;
  display: inline;
}
.single .product_meta li {
  font-family: "Lato", sans-serif;
  font-size: 1em;
  font-weight: 400;
}
.single .product_meta p {
  font-family: "Lato", sans-serif;
  font-size: 1em;
  font-weight: 400;
}
.single .product_meta a {
  color: #222222 !important;
}
.single .images {
  margin-top: 50px;
  padding-left: 50px;
}
.single .related {
  clear: both;
}
.single .related h2 {
  font-size: 2em;
  margin-top: 40px;
  margin-bottom: 40px;
}
.single .related li {
  border: 1px solid #222222;
  text-transform: uppercase;
}
.single .related li :hover {
  text-decoration: underline;
}
.single .related li h3 {
  color: #222222;
  height: 50px;
  overflow: hidden;
  text-align: center;
  font-family: "Lato", sans-serif;
  font-size: 1.2em;
  font-weight: 700;
}
.single .related .button.product_type_simple {
  left: 50%;
  position: relative;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  margin-bottom: 30px;
}
.single hr {
  color: #222222;
  clear: both;
  height: 2px;
}
.single #reviews {
  display: none !important;
}
.single .wc-tabs-wrapper {
  display: none !important;
}

.my-account .myaccount_user {
  background: #FFC010;
  padding: 1%;
}

.woocommerce {
  padding-top: 100px;
}
.woocommerce #content {
  height: 120px;
  background: url("../img/zigzag.png");
}
.woocommerce .quote-list {
  background-color: green !important;
}
.woocommerce .quote-content {
  background-color: blue !important;
}

#container .woocommerce-breadcrumb {
  padding-top: 70px;
  padding-left: 6%;
  font-weight: 400;
  font-family: "Lato", sans-serif;
  font-size: 1em;
  color: #FFFFFF;
}
#container .woocommerce-breadcrumb a {
  color: #FFFFFF;
  text-decoration: underline !important;
}
#container .product .images img {
  width: auto;
  margin: auto;
}

.quote #formtable td, .quote th {
  padding: 10px;
}

.shopping h1 {
  text-align: center;
  font-size: 2em;
  font-weight: 700;
  margin-top: 170px;
  padding: 25px 0;
}
.shopping .button {
  left: 50% !important;
  left: 50%;
  position: relative;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  margin-top: 30px;
}

.quote #formtable td, .quote th {
  padding: 10px;
}

.shopping h1 {
  text-align: center;
  font-size: 2em;
  font-weight: 700;
  margin-top: 170px;
  padding: 25px 0;
}
.shopping .button {
  left: 50% !important;
  left: 50%;
  position: relative;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  margin-top: 30px;
}

.careers {
  padding-top: 100px;
}
.careers .career a {
  color: blue !important;
}
.careers h1 {
  padding-bottom: 30px;
  font-size: 2.3em;
  font-weight: 700;
}

.artwork-and-logos {
  padding-top: 100px;
}
.artwork-and-logos h1 {
  padding-bottom: 30px;
  font-size: 2.3em;
  font-weight: 700;
}
.artwork-and-logos ul {
  padding-left: 0;
  list-style: none;
}
.artwork-and-logos li {
  margin-top: 5px;
  padding-top: 15px;
  position: relative;
}
.artwork-and-logos ul img {
  padding-top: 10px;
  max-width: 200px;
  left: 50%;
  position: relative;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
.artwork-and-logos h2 {
  margin-top: 10px;
  text-align: center;
  font-size: 1.5em;
  font-weight: 700;
  overflow: hidden;
}
.artwork-and-logos .artwork a {
  color: blue !important;
}
.artwork-and-logos .gallery p {
  font-weight: 400;
  font-size: 1em;
  overflow: hidden;
  width: 90%;
  margin: 0 auto;
}

.about-us {
  padding-top: 100px;
}
.about-us .about a {
  color: blue !important;
}
.about-us h1 {
  padding-bottom: 30px;
  font-size: 2.3em;
  font-weight: 700;
}

.us-vs-them {
  padding-top: 100px;
}
.us-vs-them h1 {
  padding-bottom: 30px;
  font-size: 2.3em;
  font-weight: 700;
}

.contact-us {
  padding-top: 100px;
}
.contact-us .contact a {
  color: blue !important;
}
.contact-us h1 {
  padding-bottom: 30px;
  font-size: 2.3em;
  font-weight: 700;
}

/*# sourceMappingURL=main.css.map */