.quote {

.shopping{

}

		#formtable td, th {
			padding: 10px;
		}

	.vertical-line{
		margin-left: -20px; 
		margin-top: 50px;
		height: 400px;
		width: 1px;
	}

	.shopping h1{
		text-align: center;
		font-size: 2em;
		font-weight: 700;
		margin-top: 170px;
	}

	.shopping .button{
		@include horizontal-center-element();
		margin-top: 30px;
	}
}
