.artwork-and-logos{
	padding-top: 100px;

	
	h1{
		padding-bottom: 30px;
		font-size: 2.3em;
		font-weight: 700;
	}

	ul{
		padding-left: 0;
		list-style: none;

	}

	li{
			margin-top: 5px;
			padding-top: 15px;
			position: relative;
		}

	ul img{
		padding-top: 10px;
		max-width: 200px;
		@include horizontal-center-element();
	}

	h2{
		margin-top: 10px;
		text-align: center;
		font-size: 1.5em;
		font-weight: 700;
		overflow: hidden;
	}

	.artwork{
		a{
			color: blue!important;
		}
	}

	.gallery p{
		font-weight: 400;
		font-size: 1em;
		overflow: hidden;
		width: 90%;
		margin: 0 auto;
	}
}